#telaCadastro {
    -fx-background-color: #625D73;  /* JavaFX */
    
}
.logincadastro-txtfield {
    -fx-background-radius: 16;
    -fx-background-color: #E4E4E4; 
    
     /* Define a cor de fundo */
    -fx-prompt-text-fill: #cccccc; 
    -fx-text-fill: white;
}


.logincadastro-btn{
	-fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #9400D3, #4B0082);
	-fx-text-fill: white; 
}
.painel-central {
	-fx-max-height: 680px; /* largura máxima que você quer */
    -fx-max-width: 1200px; /* largura máxima que você quer */
    -fx-max-height: 680px;
    -fx-pref-width: 90%;   /* ocupar 90% da largura da tela */
    -fx-pref-height: 90%;  /* altura também pode ser relativa */
    -fx-background-color: transparent; /* ou qualquer cor de fundo */
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: #E4E4E4;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 16;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #cccccc; 
}

.date-picker .arrow-button {
    -fx-background-color: white;
}

.date-picker .arrow-button .arrow {
	-fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-background-color: gray;
}
.label-clickavel {
    -fx-cursor: hand;
   
}

#telaCadastro2{
    -fx-background-color: #625D73;  /* JavaFX */
    
    }
    
.logincadastro2-txtfield {
	-fx-background-radius: 16;
    -fx-background-color: #E4E4E4;  
}

.logincadastro2-combobox {
	-fx-background-color: #E4E4E4;
}

.logincadastro2-btn{
	-fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #9400D3, #4B0082);
	-fx-text-fill: white; 
}


#telaRedefinirSenha {
    -fx-background-color: #625D73;
    
    }
    
.telaredefinirsenha-passwordfield{
	-fx-background-radius: 16;
    -fx-background-color: white;  
}

.telaredefinirsenha-btn{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #9400D3, #4B0082);
	-fx-text-fill: white; 
}

#telaOTP {
    -fx-background-color: #625D73;
    
    }

.telaotp-txtfield {
	-fx-background-radius: 16;
    -fx-background-color: white; 
	
}

.telaotp-btn{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #9400D3, #4B0082);
	-fx-text-fill: white; 
}


