/Alertas.class
/UsuarioService.class
/EventoService.class
/Redimensionamento.class
/EmailTokenStore.class
/EmailConfirmationService.class
/UsuarioPresenca.class
/ChatService.class
/ChatService$MensagemChat.class
/NotificacaoService.class
/EventoBuilder.class
/CertificadoService.class
