/EmailSender.class
/OTPGenerator.class
/OTPValidation.class
/EmailSender$1.class
/QRCodeGenerator.class
/ByteArrayDataSourceCustom.class
/EmailSender$2.class
/EmailSender$ByteArrayDataSourceCustom.class
/ConfirmacaoHandler.class
/EmailConfirmationService.class
/EmailTokenStore.class
/PresencaHandler.class
